@import '~src/styles/base/variables';
* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    white-space: pre-wrap;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Montserrat'
}

mat-toolbar.mat-toolbar {
    h1, h2, h3 {
        font-family: 'Montserrat';
        font-weight: bold;
    }
}

h1{
    font-size: 38px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 22.75px;
}
h4{
    font-size: 17.5px;
}